<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat page for {{ username }}</title>
</head>
<body>
    <h1>Welcome, {{ username }}</h1>

    <!-- INPUT FORM FOR MESSAGES -->
    <form method = "POST">
        <textarea cols="50" rows="4" name="message" id="message"></textarea>
        <br>
        <button>Send message</button>
    </form>

    <!-- FLASK PYTHON FUNCTION TO ITERATE THROUGH THE CHAT DICTIONARY -->
    {% for message in chat_messages %}
        <p>({{ message.timestamp }} {{ message.from }}: {{ message.message}})</p>
    {% endfor %}
    
    <!-- JAVASCRIPT TO REFRESH THE PAE EVERY 5 SECONDS -->
    <script>
        let textbox = document.getElementById("message")
        
        let timer = setTimeout(function() {
            location.reload();
        }, 5000)

        textbox.onkeydown = function(e) {

            clearTimeout(timer)

            timer = setTimeout(function() {
                location.reload();
            }, 5000)

        }
    </script>

</body>
</html>